.card-swap-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  perspective: 1200px;
  overflow: visible;
  transform-origin: center center;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@media (max-width: 768px) {
  .card-swap-container {
    transform: scale(0.85);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.72);
  }
}
